/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.3;
}

p {
    padding: 5px;
}

img {
    border-radius: 4px;
}

.button {
    background: #DF691A;
    text-decoration: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    color: #f2f2f2;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #9a4912;
    color: #f2f2f2;
}

header {
    background: #333;
    color: #f2f2f2;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 65px;
}

header a {
    color: #cccccc;
    text-decoration: none;
}

.menu {
    width: 95%;
    max-width: 850px;
    margin: 0 auto;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 700;
}

.menu-icon {
    display: none;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0 1rem;
    font-weight: 700;
}

.navigation ul li a:hover {
    color: #f2f2f2;
}

.navigation ul .search-icon input {
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

.navigation ul .search-icon .icon {
    cursor: pointer;
}

.navigation ul .search-icon .icon span {
    font-size: 18px;
    color: #cccccc;
}

.navigation ul .search-icon .icon span:hover {
    color: #f2f2f2;
}

.icomin {
    color: #cccccc;
}

.icomin:hover {
    color: #f2f2f2;
}

.bi-cart3 {
    color: #cccccc;
    cursor: pointer;
}

.bi-cart3:hover {
    color: #f2f2f2;
}

.car {
    position: relative;
}

.container-contacto {
    background-image: url("../img/CONTACTO2.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    padding: 6rem 0;
}

.container-contacto form {
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

.container-contacto form h2 {
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.container-contacto form input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

.container-contacto form textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

@media (max-width: 800px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul {
        display: none;
    }
    .navigation ul.show {
        display: block;
    }
    .navigation ul li {
        display: block;
    }
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
    }
    header {
        height: auto;
    }
    .container-contacto form {
        width: 100%;
    }
}

/* Footer */
.footer-menu ul {
    margin: 0;
    padding: 0;
}

.container-footer {
    max-width: 1140px;
}

.footer-section {
    background: #202020;
    padding: 25px 0;
}

.footer-section .copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.footer-section .copyright-text p a {
    color: #ff5e14;
    text-decoration: none;
}

.footer-section .footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-section .footer-menu li:hover a {
    color: #ff5e14;
}

.footer-section .footer-menu li a {
    font-size: 14px;
    color: #878787;
    text-decoration: none;
}

.footer-section .row-footer {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.footer-section .text-lg-left {
    text-align: left !important;
}

.footer-section .text-right {
    text-align: right !important;
}

.footer-section .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.footer-section .d-lg-block {
    display: block !important;
}

.footer-section .col-xl-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-section .container-footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

    

